
body{
  margin: 0px;
  padding: 15px;
}

.note{
  width: 400px;
  height: 250px;
  background-color: cyan;
  padding: 15px;
  border: 2px solid greenyellow;
  box-shadow: 1px 5px 11px rgba(5, 5, 5, 4);
  position: absolute;
  }

  .board{
    background-color: #bfd8d8;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }